/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffce54;
  --secondary-color: #e63946;
  --dark-bg: #333;
  --gradient-start: #6a11cb;
  --gradient-end: #2575fc;
  --text-light: #f1faee;
  --text-dark: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark-bg);
  color: var(--text-light);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
  